<!DOCTYPE html>
<html>
<head>
<title>Learning Website</title>
</head>

<body style="background:black;color:white;text-align:center;">

<h1>Learning Website 🚀</h1>
<h2>Select Course</h2>

<a href="/quiz/python">Python</a><br><br>
<a href="/quiz/html">HTML</a><br><br>
<a href="/quiz/css">CSS</a><br><br>

<a href="/quiz/java">Java</a><br><br>
<a href="/quiz/javascript">JavaScript</a><br><br>
<a href="/quiz/sql">SQL</a><br><br>

<a href="/quiz/c">C</a><br><br>
<a href="/quiz/cpp">C++</a><br><br>
<a href="/quiz/csharp">C#</a><br><br>

<a href="/quiz/php">PHP</a><br><br>
<a href="/quiz/kotlin">Kotlin</a><br><br>

</body>
</html>